/*hedder*/
.offcanvas.offcanvas-end{
    color: white;
}
.offcanvas-body a{
    color: white;
}
.dropdown-menu{
    background-color: #383838;
}
/*title*/
.link-title{
    margin-top: 56px;
    margin-bottom: 0px;
    padding: 80px;
    text-align: center;
    background-image:url(linkbcgi.png);
    background-size: cover;
    background-position-x: center;
    background-position-y: -10cm;
    color: #FFFFFF;
}
/*links*/
.social-link{
    margin: 0 50px;
}
.twitch-title{
    text-align: center;
    color: white;
    margin-top: 8px;
    background-color: #6441a5;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0px;
    font-weight: bold;
}
.twitch-title img{
    margin-right: 8px;   
}
.twitch-id{
    text-align: center;
    background-color: #6441a5;
    height: 40px;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: bold;
}
.twitch-live{
    display: flex;
    justify-content: center;
}
.ytbutton{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.youtube-title{
    text-align: center;
    color: white;
    margin-top: 16px;
    background-color: #e40000;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0px;
    font-weight: bold;
}
.youtube-title img{
    margin-right: 8px;
}
.youtube-id{
    text-align: center;
    background-color: #e40000;
    height: 40px;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: bold;
}

.ytlatestvideo{
    display: flex;
    justify-content: center;
    margin-bottom: 16px;
}
/*footer*/
.container.pt-4{
    padding-bottom: 24px;
}






